{% extends "/base.html" %}
{% set active_page = "statistics" %}
{% set active_project  = "all" %}
{% import "privacy/locked.html" as privacy %}

{% block content %}
<link href="{{url_for('statistics.static', filename='css/vendor/MarkerCluster.css')}}" rel="stylesheet">
<link href="{{url_for('statistics.static', filename='css/vendor/MarkerCluster.Default.css')}}" rel="stylesheet">
<link href="{{url_for('statistics.static', filename='css/charts.css')}}" rel="stylesheet">
<!-- Leaflet maps -->
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.css" />
<!--[if lte IE 8]>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.ie.css" />
<![endif]-->
<span class="set-body-bg" data-bg="pattern-brushed"></span>
<div class="container container-main">
    <div id="loading" class="col-xs-12 padding-bottom-sm">
        <div class="white-panel inset-shadow-white">
            <h3 class="text-center"><span class="fa fa-refresh fa-spin"></span> Loading Statistics</h3>
        </div>
    </div>

    <div id="stats">

        <div id="summary" class="col-xs-12 padding-bottom-sm" style="display: none;">
            <div class="white-panel inset-shadow-white">
                <h3 class="text-center text-stats"></h3>
            </div>
        </div>

        <div id="leaderboard" class="col-xs-12 padding-bottom-sm" style="display: none;">
            <div class="white-panel inset-shadow-white">
                <h4 class="padding-bottom-sm text-center">Most Active Volunteers</h4>
                <div class="canvas-container">
                    <canvas></canvas>
                </div>
                <div class="text-center padding-top-xs">
                    <a class="btn btn-danger" href="{{url_for('leaderboard.index')}}">View Leaderboard</a>
                </div>
            </div>
        </div>

        <div id="locations-summary" class="col-xs-12 padding-bottom-sm" style="display: none;">
            <div class="white-panel inset-shadow-white">
                <h3 class="text-stats text-center"></h3>
            </div>
        </div>

        <div id="locations" class="col-xs-12 padding-bottom-sm" style="display: none;">
            <div class="white-panel inset-shadow-white">
                <h4 class="padding-bottom-sm text-center">Locations of Active Volunteers</h4>
                <div id="map" style="height:480px;"></div>
            </div>
        </div>

        <div id="top-countries" class="col-xs-12 padding-bottom-sm" style="display: none;">
            <div class="white-panel inset-shadow-white">
                <h4 class="padding-bottom-sm text-center">Most Active Countries</h4>
                <div class="canvas-container">
                    <canvas></canvas>
                </div>

                <div class="text-center padding-top-xs padding-bottom-sm">
                    <a class="btn btn-danger" href="#all-countries" data-toggle="collapse"
                       aria-expanded="false" aria-controls="all-countries">View All Countries</a>
                </div>
                <div id="all-countries" class="collapse">
                    <table class="table table-stripped table-condensed table-hover table-responsive">
                        <thead>
                            <tr>
                                <th class="text-center">Country</th>
                                <th class="text-center">Contributions</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div id="daily-contributions" class="col-xs-12 padding-bottom-sm" style="display: none;">
            <div class="white-panel inset-shadow-white">
                <h4 class="padding-bottom-sm text-center">Daily Contributions</h4>
                <div class="canvas-container">
                    <canvas></canvas>
                </div>
            </div>
        </div>

        <div id="top-users-this-week" class="col-xs-12 padding-bottom-sm" style="display: none;">
            <div class="white-panel inset-shadow-white">
                <h4 class="padding-bottom-sm text-center">Most Active Volunteers This Week</h4>
                <div class="canvas-container">
                    <canvas></canvas>
                </div>
            </div>
        </div>

        <div id="daily-volunteers" class="col-xs-12 padding-bottom-sm" style="display: none;">
            <div class="white-panel inset-shadow-white">
                <h4 class="padding-bottom-sm text-center">Daily Volunteers</h4>
                <div class="canvas-container">
                    <canvas></canvas>
                </div>
            </div>
        </div>

        <div class="stats-row">

            <div id="proportion-auth-users" class="col-md-4 col-xs-12 padding-bottom-sm" style="display: none;">
                <div class="white-panel inset-shadow-white">
                    <h4 class="padding-bottom-sm text-center">Proportion of Authenticated Users</h4>
                    <div class="canvas-container">
                        <canvas></canvas>
                    </div>
                    <div class="legend-container padding-top-sm"></div>
                </div>
            </div>

            <div id="dow" class="col-md-4 col-xs-12 padding-bottom-sm" style="display: none;">
                <div class="white-panel inset-shadow-white">
                    <h4 class="padding-bottom-sm text-center">Contributions per Day of the Week</h4>
                    <div class="canvas-container">
                        <canvas></canvas>
                    </div>
                </div>
            </div>

            <div id="top-10-percent" class="col-md-4 col-xs-12 padding-bottom-sm" style="display: none;">
                <div class="white-panel inset-shadow-white">
                    <h4 class="padding-bottom-sm text-center">Most Active 10% of Volunteers</h4>
                    <div class="canvas-container">
                        <canvas></canvas>
                    </div>
                    <div class="legend-container padding-top-sm"></div>
                </div>
            </div>

        </div>

        <div id="hourly-activity" class="col-xs-12 padding-bottom-sm" style="display: none;">
            <div class="white-panel inset-shadow-white">
                <h4 class="padding-bottom-sm text-center">Total Hourly Activity</h4>
                <div class="canvas-container">
                    <canvas></canvas>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="http://cdn.leafletjs.com/leaflet-0.4/leaflet.js"></script>
<script src="{{url_for('statistics.static', filename='js/vendor/leaflet.markercluster.js')}}" type="text/javascript"></script>
<script src="{{url_for('statistics.static', filename='js/vendor/moment.js')}}"></script>
<script src="{{url_for('statistics.static', filename='js/vendor/Chart.js-master/Chart.js')}}"></script>
<script src="{{url_for('statistics.static', filename='js/charts.js')}}"></script>
<script>
$(function(){
    var stats = {{ stats|safe }};
    var locs = {{ locs|safe }};
    var leaderboard = {{ leaderboard|safe }};
    var topCountries = {{top_countries|safe}};
    var taskRunsDaily = {{ task_runs_daily|safe }};
    var usersDaily = {{ users_daily|safe }};
    var hourlyActivity = {{ hourly_activity|safe }};
    var dow = {{ dow|safe }};
    var top5Users1Week = {{ top_5_users_1_week|safe }}

    // If no tasks completed
    if (stats.n_tasks_completed === 0) {
        $('#loading').children().children('h3').html('Statistics will be available once some tasks have been completed!');
    } else {
        // Populate charts
        populateSummary(stats, "summary");
        populateLeaderboardChart(leaderboard, "leaderboard");
        populateLocationsSummary(stats, "locations-summary");
        populateLocationsChart(locs, "locations");
        populateMostActiveCountriesChart(topCountries, "top-countries");
        populateDailyContributionsChart(taskRunsDaily, "daily-contributions");
        populateUsersPerDayChart(usersDaily, "daily-volunteers");
        populateProportionAuthChart(stats, "proportion-auth-users");
        populateDowChart(dow, "dow");
        populateTop10PercentChart(stats, "top-10-percent");
        populateTopUsersThisWeekChart(top5Users1Week, "top-users-this-week")
        populateHourlyActivityChart(hourlyActivity, "hourly-activity");
        $('#loading').slideUp();
    }
});

$(window).on("load resize", function() {
    resizeStatsRow();
});
</script>
{% endblock %}